@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Kauan @ViewData["Kauan Meira"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/kauanmeira">https://github.com/kauanmeira</a>
</address>